<h3>Forgalom kezelés</h3>
<hr>
<h5>Új forgalom felvétele</h5>


<div class="form-floating mb-3">
    <input type="text" class="form-control" id="catname" placeholder="">
    <label for="catname">Kategória név</label>
</div>
<div class="form-floating mb-3">
    <input type="text" class="form-control" id="termekname" placeholder="">
    <label for="termekname">Termék név</label>
</div>
<div class="form-floating mb-3">
    <input type="text" class="form-control" id="vevoname" placeholder="">
    <label for="vevoname">Vevő név</label>
</div>

<div class="form-floating mb-3">
    <input type="text" class="form-control" id="mennyisegname" placeholder="">
    <label for="mennyisegname">Mennyiség</label>
</div>
<div class="form-floating mb-3">
    <input type="text" class="form-control" id="egyseg" placeholder="">
    <label for="egyseg">Egység</label>
</div>
<div class="form-floating mb-3">
    <input type="text" class="form-control" id="nettoar" placeholder="">
    <label for="nettoar">Nettó ár</label>
</div>

<!--
<div class="form-floating mb-3">
    <input type="text" class="form-control" id="osszesen" placeholder="">
    <label for="osszesen">Összesen</label>
</div>
<div class="form-floating mb-3">
    <input type="text" class="form-control" id="kiadva" placeholder="">
    <label for="kiadva">Kiadva</label>
</div>
-->

<div>
    <button type="button" class="btn btn-secondary" routerLink="/traffic">Vissza</button>

    <button type="button" class="btn btn-primary" routerLink="/traffic">Mentés</button>
</div>