<h3>Kategória kezelés</h3>
<hr>
<button type="button" class="btn btn-primary mb-3" routerLink="/catform">Új adat rögzítése</button>

<table class="table table-hover table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>Kategória</th>
            <th>Műveletek</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let category of categories; index as i;">
            <td>{{ i + 1}}. </td>
            <td>{{category.kategoriaNev}}</td>
            <td>
                <button class="btn btn-sm btn-warning"><i class="bi bi-exclamation-circle-fill"></i></button>
                <button class="btn btn-sm btn-danger"><i class="bi bi-x-circle-fill"></i></button>
            </td>
        </tr>
    </tbody>

    <tfoot>
        <th colspan="3" class="text-center">Összesen: <span style="padding: 0;">0</span> rekord</th>
    </tfoot>
</table>
